<section class="footer" id="contact">
    <div class="footer-contents">
        <div class="footer-dealer-info">
            <div class="footer-service-container">
                <div class="footer-heading"><span>Service Hours</span></div>
                <div class="footer-hours-container">
                    <div class="hours-text">
                        {{dealerData.serviceHours[0]}}</div>
                    <div class="hours-text">
                        {{dealerData.serviceHours[0]}} </div>
                </div>
            </div>

            <div class="footer-contact-container">
                <div class="footer-heading">
                    Contact Us
                </div>
                <div class="footer-dealer-container">
                    <div class="footer-dealer-name"> {{dealerData.dealerName}} </div>
                    <div> {{dealerData.address}} </div>
                    <div class="footer-service-row" style="display: flex">
                        <div>Call Today:</div>
                        <a target="_blank" href="tel:50523422">
                            {{dealerData.salesPhone}} </a>
                    </div>
                    <div class="footer-service-visit-us">
                        <div>
                            <a href="http://www.google.com" target="_blank">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <span>Visit Our Website</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="map-container">
                <div id="map_bg">
                    <div id="map">
                        <!-- <a href="http://maps.google.com/maps?q=Pitre Buick GMC 9737 Eagle Ranch Rd. Albuquerque NM 87114" target="_blank" border="0">
                            <img src="http://maps.googleapis.com/maps/api/staticmap?center=Pitre Buick GMC 9737 Eagle Ranch Rd. Albuquerque NM 87114,17&amp;zoom=14&amp;size=603x214&amp;maptype=roadmap&amp;markers=Pitre Buick GMC 9737 Eagle Ranch Rd. Albuquerque NM 87114&amp;sensor=true&amp;key=AIzaSyC96r-PAV3SK4kMR6WUlIcHF2i0EC3n3Xg"
                                alt="map">
                            <div class="map-marker-label">Infoobject </div>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>

        <hr class="hr-divider">
        <div class="policy-url-container">
            <div class="policy-url-wrapper">
                <a class="policy-url" href="https://www.google.com/privacy.htm" target="_blank">
                    PRIVACY POLICY
                </a>
            </div>
            <div class="policy-url-wrapper">
                <a class="policy-url" href="https://www.google.com/privacy-statement" target="_blank">
                    DO NOT SELL MY PERSONAL INFORMATION
                </a>
            </div>
        </div>
    </div>
</section>