<div class="section-header" id="resource_center">
    <h3 class="heading1"> Resource center</h3>
    <div></div>
</div>


<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all;">
    <div style="display: flex;position: relative;padding-left: 50px;">
        <div class="owl-item active" style="width: 396px; margin-right: 32px;">
            <div class="card tertiary" style="min-height: 415px;">
                <div class="video-img videoBtn vid1_1B4A3F4E_50976055 activeVideoBtn" data-index="1">
                    <img src="https://uwcampaigns.com/cm_cssrevo_assets/135_brand_touchpoint_video.png"
                        alt="Why Service at our Dealership">
                    <i class="fa fa-play-circle-o play-icon" aria-hidden="true"></i>
                    <div class="video-runtime" hidden=""></div>
                </div>
                <div class="video-title">
                    <p class="medium">Why Service at our Dealership</p>
                </div>
                <div class="video-description">
                    <p>Routine maintenance can help extend the life of your vehicle and help it run more efficiently.
                    </p>
                </div>
            </div>
        </div>
        <div class="owl-item active" style="width: 396px; margin-right: 32px;">
            <div class="card tertiary" style="min-height: 415px;">
                <div class="video-img videoBtn vid2_1B4A3F4E_50976843" data-index="2">
                    <img src="https://uwcampaigns.com/cm_cssrevo_assets/143_brand_touchpoint_video.png"
                        alt="Connected Customer">
                    <i class="fa fa-play-circle-o play-icon" aria-hidden="true"></i>
                    <div class="video-runtime" hidden=""></div>
                </div>
                <div class="video-title">
                    <p class="medium">Connected Customer</p>
                </div>
                <div class="video-description">
                    <p>When it’s time for regular vehicle maintenance, our Certified Service offers practical service
                        hours
                        for your convenience.</p>
                </div>
            </div>
        </div>
        <div class="owl-item active" style="width: 396px; margin-right: 32px;">
            <div class="card tertiary" style="min-height: 415px;">
                <div class="video-img videoBtn vid3_1D0GWCBG_51020937" data-index="3">
                    <img src="https://uwcampaigns.com/cm_cssrevo_assets/224_brand_touchpoint_video.png"
                        alt="Accessories">
                    <i class="fa fa-play-circle-o play-icon" aria-hidden="true"></i>
                    <div class="video-runtime" hidden=""></div>
                </div>
                <div class="video-title">
                    <p class="medium">Accessories</p>
                </div>
                <div class="video-description">
                    <p>Genuine GM Accessories are a great way to personalize your vehicle to fit your lifestyle.</p>
                </div>
            </div>
        </div>
        <a class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <a class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
</div>

<!-- <div class="owl-item active" style="width: 1261px; margin-right: 5px;">
    <section id="my_brand_app">
        <div class="resource-center-pane" style="display: flex;">
            <div class="pane-image"
                style="background-image:url('https://uwcampaigns.com/cm_cssrevo_assets/research_center_panes/buick_mobile_app_ice.jpg');">
            </div>
            <div class="pane-content">

                <h2>my<span style="display: inline-block;">buick</span> mobile app</h2>
                <p class="medium">The redesigned interface now includes Vehicle Status features and Remote Commands you
                    can access right from your home screen.</p>

                <div class="download-app-buttons">
                    <a href="https://apps.apple.com/us/app/mybuick/id399409835?evar25=Buick_Onstar_AppStore_0316"
                        class="gaTracked KBA-Apple-Store" target="_blank">

                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.gm.buick.nomad.ownership&amp;evar25=Buick_Onstar_GooglePlay_0316&amp;hl=en"
                        class="gaTracked KBA-Play-Store" target="_blank">

                    </a>
                </div>
            </div>

        </div>
    </section>
</div> -->