.section-header {
    width: 100%;
    text-align: center;
    margin: 45px auto 40px auto;
    max-width: 1440px;
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 14px;
    padding-bottom: 14px;
}

.section-header {
    background-color: #f6f5f4;
}

.section-header .heading1 {
    margin-bottom: 0;
}

.heading1 {
    font-family: 'BuickHeadlineRegular', sans-serif !important;
    font-weight: normal !important;
    font-size: 32px;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: black;
    /* font-weight: bold; */
    font-size: 42px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "prev button" to the left */
.prev {
    left: 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: lightgray;
}

.card {
    border: none;
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.08));
}

.card .video-img img {
    width: 100%;
}

.play-icon {
    position: absolute;
    left: 45%;
    /* top: 50%; */
    margin-top: 83px;
    font-size: 65px;
    color: lightgray;
    opacity: 0.8;
}

.video-title {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    font-weight: 600;
}
.video-description{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

.pane-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    flex-basis: 50%;
    flex-grow: 1;
    max-width: 603px;
}