<section class="header">
    <div class="contact-detail-visit-us">
        <div class="col">
            <a class="Header_Dealer_Name" target="_blank" href="https://www.google.com">
                <span>{{dealerData.dealerName}}</span>
            </a>
            <div class="contact-detail">
                <span>Call Today : </span>
                <a target="_blank" href="'tel:'dealerData.salesPhone">{{dealerData.salesPhone}}</a>
            </div>
            <div class="visit-website-url-icon">
                <a href="http://www.google.com"  target="_blank">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <span>Visit Our Website</span>
                </a>
            </div>
        </div>
    </div>
    <div class="logo-dealer-name">
        <a target="_blank" href="https://www.google.com">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png">
        </a>
    </div>
    <div class="visit-us">
        <a target="_blank" href="https://www.google.com">
            <button class="btn primary">visit us</button>
        </a>  
    </div>
</section>
