<div class="section-header first" id="service_dashboard">
    <h3 class="heading1"> Your service dashboard</h3>
    <p class="year_mod">{{dealerData.customers[0].model}}</p>
</div>

<div style="display: flex;position: relative;padding-left: 50px;">

    <div class="dashboard-item active" style="width: 290px; margin-right: 30px;">
        <div class="overview-card status-card dashboard-container" style="min-height: 400px;">
            <!-- <div class="dashboard-header  status-grey">
                <div class="dashboard-header-container">
                    Parts designed for your vehicle
                </div>
            </div> -->
            <div class="dashboard-body">
                <div class="dashboard-body-table">
                    <div class="dashboard-body-table-cell">
                        <div class="dashboard-body-pad dashboard-text-small">
                            <p><span>Next service date: </span>06/04/2025</p>
                            <p><span>Next service mileage: </span> 37500</p>
                            <p><span>Suggested upcoming services: </span></p>
                            <ul>
                                <li> Rotate tires and perform required services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-button">
                <a role="button" target="_blank" href="https://www.google.com" class="btn primary">
                    Schedule service</a>
            </div>
        </div>
    </div>

    <div class="dashboard-item active" style="width: 290px; margin-right: 30px;">
        <div class="overview-card status-card dashboard-container" style="min-height: 400px;">
            <div class="dashboard-header  status-grey">
                <div class="dashboard-header-container">
                    Parts designed for your vehicle
                </div>
            </div>
            <div class="dashboard-body">
                <div class="dashboard-body-table">
                    <div class="dashboard-body-table-cell">
                        <div class="dashboard-body-pad dashboard-text-small">
                            <p>
                                Our Service technicians are armed with the latest diagnostics and tools
                                to give your vehicle the level of service it deserves.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-button">
                <a role="button" target="_blank" href="https://www.google.com" class="btn primary">
                    Schedule service</a>
            </div>
        </div>
    </div>

    <div class="dashboard-item active" style="width: 290px; margin-right: 30px;">
        <div class="overview-card status-card dashboard-container" style="min-height: 400px;">
            <div class="dashboard-header  status-grey">
                <div class="dashboard-header-container">
                    Indicators that your tires may need service
                </div>
            </div>
            <div class="dashboard-body">
                <div class="dashboard-body-table">
                    <div class="dashboard-body-table-cell">
                        <div class="dashboard-body-pad dashboard-text-small">
                            <ul>
                                <li>Tire has excessive wear or damage to the side wall</li>
                                <li>Tread is worn at or below "wear indicators"</li>
                                <li>Uneven treadwear causing noise and/or vibrations</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-button">
                <a role="button" target="_blank" href="https://www.google.com" class="btn primary">
                    Schedule service</a>
            </div>
        </div>
    </div>

    <div class="dashboard-item active" style="width: 290px; margin-right: 30px;">
        <div class="overview-card status-card dashboard-container" style="min-height: 400px;">
            <div class="dashboard-header  status-grey">
                <div class="dashboard-header-container">
                    Indicators that your brakes may need service
                </div>
            </div>
            <div class="dashboard-body">
                <div class="dashboard-body-table">
                    <div class="dashboard-body-table-cell">
                        <div class="dashboard-body-pad dashboard-text-small">
                            <ul>
                                <li>Squealing sound when stopping</li>
                                <li>Spongy feel to the brake pedal</li>
                                <li>Black dust on the wheel</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-button">
                <a role="button" target="_blank" href="https://www.google.com" class="btn primary">
                    Schedule service</a>
            </div>
        </div>
    </div>
    <a class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    <a class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
</div>


<!-- <section id="wallet-card">
    <div class="user-card card secondary">
        <div>
            <p class="large user-name">John</p>
        </div>
        <div class="user-info">
            <div class="info-holder">
                <div class="info">
                    <p class="medium "><strong>2022 Infoobject</strong></p>
                    <p class="small">VI52343567</p>

                    <p class="large"><strong>Infoobject</strong></p>
                    <p class="small">506245222</p>
                </div>
                <div class="info">
                    <a class="dealer-link" target="_blank" href="http://www.google.com">
                        <i>logo</i>Visit our website
                    </a>
                </div>
            </div>
            <div class="info-holder">
                <p class="small"><strong>roadside assistance:</strong> 8005324112</p>
                <p class="small"><strong>customer assistance center:</strong> 8052347300</p>
                <p class="small"><strong>onstar:</strong> 888-466-7827</p>
                <p class="small"><strong>accessories:</strong>
                    <a href="https://www.google.com" target="_blank">google.com</a><br>
                    <a href="https://www.google.com" target="_blank">google.com</a>
                </p>
                <div class="brand-logo">
                    <a href="https://www.google.com" target="_blank" class="wallet-logo-right">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="download-wallet">
        <h3>Get your wallet card</h3>
        <p class="medium">Never forget important information about your vehicle again! Download your digital Wallet Card
            and keep all the essential details about your vehicle right in your pocket.</p>
        <button class="btn primary">Download wallet card</button>
    </div>
</section> -->