<div class="section-header" id="service_info">
    <h2 class="heading1"> For your convenience</h2>
</div>

<section id="tab_conveniences" tabindex="0" class="main">
    <div class="carousel centered">
        <div class="stage-outer">
            <div class="content-card" style="padding-left: 50px;">
                <div style="width: 290px;margin-right: 32px;">
                    <div class="convenience">
                        <h4 class="item-header">Coffee bar</h4>
                        <p>Need caffeine? Relax and select from our premium blends.</p>
                    </div>
                </div>
                <div style="width: 290px; margin-right: 32px;">
                    <div class="convenience">
                        <h4 class="item-header">Online scheduling</h4>
                        <p>Use our website to schedule your appointment when it's convenient for you, 24/7.</p>
                    </div>
                </div>
                <div style="width: 290px; margin-right: 32px;">
                    <div class="convenience">
                        <h4 class="item-header">Early bird drop box</h4>
                        <p>Our secure drop box lets you drop your vehicle off for service before or after business
                            hours.</p>
                    </div>
                </div>
                <div style="width: 290px; margin-right: 32px;">
                    <div class="convenience">
                        <h4 class="item-header">Quick lube lane</h4>
                        <p>In a hurry? No worry. Our factory-trained technicians can have you in and out quickly.</p>
                    </div>
                </div>
                <div style="width: 290px; margin-right: 32px;">
                    <div class="convenience">
                        <h4 class="item-header">Service most makes</h4>
                        <p>MISSING BLURB for Service Most Makes</p>
                    </div>
                </div>
                <a class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                <a class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>