<div class="section-header" id="explore_offers">
    <h2 class="heading1"> Explore offers </h2>
</div>

<section id="tab_offers" class="main">
    <div style="width: 100%; flex-direction: column;">
        <div class="offer-section">
            <div style="width: 625px; margin-right: 10px;">
                <div class="container">
                    <div class="offer-header">
                        <div>
                            Bonus Coupon </div>
                    </div>
                    <div class="offer-body">
                        <div class="offer-body-table">
                            <div class="offer-body-table-cell">
                                <div>
                                    <table border="0" class="bonus-coupon" align="left" width="100%" cellpadding="2"
                                        cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td>You Spend This:</td>
                                                <td>You SAVE This:</td>
                                            </tr>
                                            <tr>
                                                <td>$50.00 &nbsp;&nbsp;- $99.99</td>
                                                <td>$5.00</td>
                                            </tr>
                                            <tr>
                                                <td>$100.00 - $199.99</td>
                                                <td>$10.00</td>
                                            </tr>
                                            <tr>
                                                <td>$200.00 - $299.99</td>
                                                <td>$20.00</td>
                                            </tr>
                                            <tr>
                                                <td>$300.00 - $399.99</td>
                                                <td>$30.00</td>
                                            </tr>
                                            <tr>
                                                <td>$400.00 - $499.99</td>
                                                <td>$40.00</td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" align="left" width="100%" cellpadding="4" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td> Coupon valid at vehicle check-in. Not valid
                                                    with any other offers.</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table><br>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>+ See details</div>
                        </div>
                    </div>
                    <!-- <div class="offer-buttons-row">
                        <div class="offer-buttons-pad">
                            <div class="offer-button">
                                <a role="button" target="_blank" href="https://www.google.com"
                                    class="btn primary">
                                    Schedule service
                                </a>
                                <div role="button" class="btn secondary">
                                    Redeem offer
                                </div>
                            </div>
                            <div class="offer-dealer-sig">
                                <div class="offer-dealer-name "> Google </div>
                                <div class="offer-dealer-name make-logo-coupon pr-32">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png">
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>