<section class="videos-container-viewport">
    <div class="align-center frame-layout">
      <ul class="vertical-section-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="ScrollIntoView('#explore_offers')">
            <i class="fa fa-percent" aria-hidden="true"></i>
            <span>Offers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="ScrollIntoView('#service_info')">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            <span>Service<br>Info</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="ScrollIntoView('#resource_center')">
            <i class="fa fa-play" aria-hidden="true"></i>
            <span>Resource Center</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="ScrollIntoView('#contact')">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>Contact</span>
          </a>
        </li>
      </ul>
  
      <div class="video-viewport">
        <div id="video-holder" class="video-modal">
          <div id="video_main_container" class="frame-layout">
            <div class="videos-container">
              <div class="videos-content">
                <div id="video_frame_bg">
                  <div *ngIf="isLoading">Processing video...</div>
                  <video *ngIf="videoUrl && !isLoading" controls width="760" height="auto" id="myVideo">
                    <source [src]="videoUrl" type="video/mp4" style="display: block; margin: 0 auto;" />
                  </video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="frame-viewport hero-content">
        <div class="hero-content content-box">
          <div class="heading">
            <h2>{{ userName }}</h2>
          </div>
          <div class="message-group">
            <hr>
            <div class="message">
              <p class="medium">{{ userDescription }}</p>
            </div>
          </div>
          <div class="button-group">
            <a href="https://www.google.com" target="_blank">
              <button class="btn primary">Schedule service</button>
            </a>
            <a href="#resource_center">
              <button class="btn secondary">Explore resource center</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>