/* You can add global styles to this file, and also import other style files */
/* :root {
    --app-font-family: Arial;
    --app-font-size: 14px;
    --app-text-color: #000;
    --border-color: red
  }
  
  * {
    box-sizing: border-box;
  } */
  
  /* body {
    font-family: var(--app-font-family);
    font-size: var(--app-font-size);
    color: var(--app-text-color);
    background-color:var(--border-color); ;
    margin: 0;
  } */